<footer id="foot" class="footer py-2  mt-auto">
    <div class="container text-center">
        <p class="float-right"><a class="text-light scroll" href="#">Back to top</a></p>

        <p>
            <strong>
                <span class="text-light">&copy; Made by Alex C</span>
            </strong>
        </p>

    </div>

</footer>
