<header class="text-center">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">

            <a class="navbar-brand text-light" href="/"><i class="fas fa-utensils mr-2"></i>Hangry</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/hangry">Locations</a>
                    </li>
                    <% if(!currentUser) {%>
                    <a class="nav-link text-light" href="/login">Login</a>
                    <a class="nav-link text-light" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link text-light" href="/profile">Profile</a>
                    <a class="nav-link text-light" href="/favorites">Favorites</a>
                    <a class="nav-link text-light" href="/logout">Logout</a>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>
</header>
