<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hangry</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
            integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/home.css">

    <body class="d-flex text-center text-white bg-dark">
        <div class="d-flex w-100 mx-auto pb-1 flex-column">
            <header class="mb-auto">
                <nav class="mt-0 pb-2 navbar navbar-expand-lg navbar-light ">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light" href="/">Hangry</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-light" aria-current="page" href="/hangry">Locations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/hangry/results">Search</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link text-light" href="#">Favorites</a>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <main class="main">
                <h1 class="mb-3">Welcome to Hangry</h1>
                <h2 class="">Can't decide on what to eat?
                    <br>
                    We can decide for you!</h2>
                <a href="/hangry" class="mt-3 btn btn-lg btn-secondary font-weight-bold bg-white">Click here to
                    begin</a>
            </main>


            <footer class="mt-auto text-white-50">
                <p class="text-light">&copy; Made by Alex C</p>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
            integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
            crossorigin="anonymous"></script>
    </body>

</html>
