#body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
    url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdWRzfGVufDB8MHwwfA%3D%3D&auto=format&fit=crop&w=900&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* button {
  border: none;
  background: none;
} */

@media (min-width: 1100px) {
  #blah {
    width: 50%;
  }
}
