#title {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  background-position: center;
  text-align: center;
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
}

#title h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.97);
  text-shadow: 0 0.2rem 0.25rem rgba(7, 7, 7, 0.7);
}

#title button {
  font-size: 1rem;
}

#btn1 {
  background: linear-gradient(rgba(26, 183, 234, 0.5), rgba(85, 172, 238, 1));
}

#btn2 {
  width: 100%;
  background: linear-gradient(rgba(26, 183, 234, 0.5), rgba(85, 172, 238, 1));
  text-shadow: 0 0.1rem 0.25rem rgba(7, 7, 7, 0.7);
}

#btn2 a {
  font-size: 1.3rem;
}

#restName {
  background: linear-gradient(rgba(26, 183, 234, 80%), rgba(85, 172, 238, 1));
  text-align: center;
  /* border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black; */
}

#restName h2 {
  color: white;
  text-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: 750;
}

@media (min-width: 1100px) {
  .img {
    width: 50%;
  }
}

@media (max-width: 992px) {
  #btn1 {
    width: 100%;
  }
}
