<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/details.css">

<div id="main" class="">
    <!-- If no picture, use default picture -->
    <% if(results.featured_image) { %>
    <img class="img-fluid img-thumbnail w-100" src="<%=results.featured_image%>" alt="">
    <% } else {%>
    <div id="body" class="text-center">
        <img id="" class="img-fluid img-thumbnail w-75"
            src="https://images.unsplash.com/photo-1556763947-80fd07e395ad?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzV8fHJlc3RhdXJhbnRzfGVufDB8MHwwfA%3D%3D&auto=format&fit=crop&w=900&q=60"
            alt="">
    </div>
    <% } %>

    <div class="row">
        <button id="btn" class="text-center py-auto btn btn-secondary mb-3" type="button">
            <a class="text-light" href="/hangry/<%=hangry._id%>/search">Back to search results</a>
        </button>
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title">Welcome to <%=results.name%></h2>




            </div>
        </div>
    </div>
</div>
