<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/searchLocation.css">


<div class="container">
    <h1 class="mt-3">Can't decide what to eat?</h1>
    <h3>Don't have to argue anymore of who's turn it is to decide.</h3>
    <h3 class="">Fill in the details below and we will do the job for
        you.</h3>
    <button class="mt-3 btn btn-secondary">
        <a class="text-light" href="/hangry">Back to all locations</a>
    </button>


    <div class="card my-3">
        <div class="card-body">
            <form action="/hangry" class="needs-validation" id="searchForm" method="POST" novalidate>
                <div class="mb-2">
                    <label class="form-label" for="location"><strong>Location:</strong></label>
                    <input class="form-control" type="text" id="location" name="location"
                        placeholder="For example: Mississauga, Toronto" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-block btn-success">Search</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/searchLocation.js"></script>
