<% layout('layouts/boilerplate') %>

<div class="row">
    <!-- details -->
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%=hangry.data.title%></h5>
            </div>
        </div>
    </div>

    <!-- picture -->
    <div class="col-4">

    </div>
</div>
